.App {
  text-align: center;
}

.container-l {
  text-align: center;
  height: 100vh;
  background: url(./images/login-background-LD.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
}

.container-su {
  text-align: center;
  height: 100vh;
  background: url(./images/signup-background-LD.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
}

.container-h {
  text-align: center;
  height: 100vh;
  background: url(./images/homepage-background-LD.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.intro {
  color: white;
  margin-top: 20px;
  font-size: 30px;
}
.form-container {
  width: 500px;
  height: 320px;
  margin: auto;
  margin-top: 100px;
  background-color: white;
}

.input {
  height: 45px;
  border-radius: 5px;
  background: #edf2f7;
  border: none;
  padding-left: 10px;
  margin-top: 30px;
  color: black;
  width: 295px;
}

.form-button {
  border: none;
  padding: 10px 30px;
  background: #f35667;
  border-radius: 8px;
  color: white;
  height: 45px;
  margin-top: 35px;
  width: 300px;
  padding-left: 10px;
  padding-right: 10px;
}
