.App {
  text-align: center;
}

.container-l {
  text-align: center;
  height: 100vh;
  background: url(./images/login-background-LD.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
}

.container-su {
  text-align: center;
  height: 100vh;
  background: url(./images/signup-background-LD.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
}

.container-h {
  text-align: center;
  height: 100vh;
  background: url(./images/homepage-background-LD.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  display: flex;
  flex-direction: row;
  /* added display flex and flex direction */
}

.intro {
  color: white;
  margin-top: 20px;
  font-size: 30px;
}
.form-container {
  width: 500px;
  height: 320px;
  margin: auto;
  margin-top: 100px;
  background-color: white;
}

.input {
  height: 45px;
  border-radius: 5px;
  background: #edf2f7;
  border: none;
  padding-left: 10px;
  margin-top: 30px;
  color: black;
  width: 295px;
}

.form-button {
  border: none;
  padding: 10px 30px;
  background: #f35667;
  border-radius: 8px;
  color: white;
  height: 45px;
  margin-top: 35px;
  width: 300px;
  padding-left: 10px;
  padding-right: 10px;
}
.sidebox-container {
  font-family: 'Press Start 2P', cursive;
  font-size: 15px;
  width: 30%;
  height: 601px;
  border: 4px solid white;
  margin-top: 15px;
  background-color: black;
  border-radius: 15px;
}
.sidebox-description {
  border: 4px solid white;
  width: 90%;
  margin: auto;
  border-radius: 5px;
  height: 53px;
  padding: 5px;
}

.sidebox-mini-container {
  display: flex;
}

.sidebox-mini {
  border: 4px solid white;
  /* margin: auto; */
  flex: 1;
  padding: 10px;
  /* width: 40%; */
  height: 30px;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 5px;
  height: 22px;

}

.direction-container {
  border: 4px solid white;
  width: 40%;
  margin: auto;
  border-radius: 10px;
  /* margin-top: 7px; */
  margin-bottom: 7px;
}
.direction {
  width: 25%;
  height: 22px;
  padding-top: 10px;
  margin: auto;
  border-radius: 5px;
  background: white;
  color: black;
  cursor: pointer;
  margin-bottom: 7px;
  margin-top: 7px;
  
}

.direction:hover {
  background-color: black;
  color: white;
}

.sidebox-direction {
  display: flex;
  justify-content: space-evenly;
}

.Error-message {
  color: red;
  border: 4px solid white;
  width: 80%;
  margin: auto;
  margin-top: 7px;
  border-radius: 10px;
  height: 35px;
}

.chat-box {
  border: 4px solid white;
  width: 95%;
  margin: auto;
  margin-top: 7px;
  height: 140px;
  border-radius: 10px;
}

.sidebox-footer {
  display: flex;
  margin: auto;
}

.chat-box-message {
  border: 4px solid white;
  width: 70%;
  margin-left: 6px;
  margin-top: 7px;
  height: 35px;
  border-radius: 10px;
  padding-top: 4px;
}

.enter {
  border: 4px solid white;
  height: 35px;
  width: 20%;
  border-radius: 10px;
  margin-top: 7px;
  margin-left: 6px;
  padding-top: 4px;
}

.logout {
  border: none;
  padding: 10px 30px;
  border-radius: 8px;  
  height: 45px;
  margin-top: 10px;
  background-color:#808080;
  color:white;
}
