.App {
  text-align: center;
}

.container-l {
  text-align: center;
  height: 100vh;
  background: url(./images/login-background-LD.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
}

.container-su {
  text-align: center;
  height: 100vh;
  background: url(./images/signup-background-LD.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
}

.container-h {
  text-align: center;
  height: 100vh;
  background: url(./images/homepage-background-LD.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  display: flex;
  flex-direction: row;
  /* added display flex and flex direction */
}

.intro {
  color: white;
  margin-top: 20px;
  font-size: 30px;
}
.form-container {
  width: 500px;
  height: 320px;
  margin: auto;
  margin-top: 100px;
  background-color: white;
}

.input {
  height: 45px;
  border-radius: 5px;
  background: #edf2f7;
  border: none;
  padding-left: 10px;
  margin-top: 30px;
  color: black;
  width: 295px;
}

.form-button {
  border: none;
  padding: 10px 30px;
  background: #f35667;
  border-radius: 8px;
  color: white;
  height: 45px;
  margin-top: 35px;
  width: 300px;
  padding-left: 10px;
  padding-right: 10px;
}
.sidebox-container {
  width: 30%;
  height: 600px;
  border: 4px solid white;
  margin-top: 20px;
  background-color: black;
}
.sidebox-description {
  border: 4px solid white;
  width: 90%;
  margin: auto;
  border-radius: 5px;
  height: 53px;
  padding: 5px;
}

.sidebox-mini-container {
  display: flex;
}

.sidebox-mini {
  border: 4px solid white;
  margin: auto;
  width: 40%;
  height: 40px;
  border-radius: 10px;
  margin-top: 10px;
}

.direction-container {
  border: 4px solid white;
  width: 40%;
  margin: auto;
  border-radius: 10px;
  margin-top: 7px;
  margin-bottom: 7px;
}
.direction {
  width: 20%;
  margin: auto;
  border-radius: 5px;
  background: white;
  color: black;
  cursor: pointer;
  margin-bottom: 7px;
  margin-top: 7px;
}

.sidebox-direction {
  display: flex;
  justify-content: space-evenly;
}

.Error-message {
  color: red;
  border: 4px solid white;
  width: 80%;
  margin: auto;
  margin-top: 7px;
  border-radius: 10px;
  height: 35px;
}

.chat-box{
  border: 4px solid white;
  width: 95%;
  margin: auto;
  margin-top: 7px;
  height: 180px;
  border-radius: 10px;
}

.chat-box-message{
  border: 4px solid white;
  width: 80%;
  margin-left:3px;
  margin-top: 7px;
  height: 35px;
  border-radius: 10px;
}

.sidebox-footer{
  display: flex;
  margin: auto;
}

.enter{
  border: 4px solid white;
  height: 35px;
  width: 15%;
  border-radius: 10px;
  margin-top: 7px;
  margin-left:3px;
}